
<html lang = "deu">
<main class="d-flex align-items-center min-vh-100">






  <div  id="main-content" >


<fieldset class="container col-8">
  <legend tabindex="0">Kontaktformular</legend>
  <form  id="contactForm" novalidate  >
    <div class="form-group mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control form-control-lg" id="name" placeholder="Name" aria-required="true" tabindex="0">


      <span role="alert" id="nameError" aria-hidden="true" style="color: red; display: none;">
            Please Enter your name  .
            </span>
    </div>









    <div class="form-group mb-3">
      <label for="email" class="form-label">Email-Adresse</label>
      <input type="email" class="form-control form-control-lg" id="email" placeholder="Email-Adresse" aria-required="true" tabindex="0">

      <span role="alert" id="emailError" aria-hidden="true" style="color: red; display: none;">
            Please Enter your email-address.
            </span>
    </div>




    <div class="form-group mb-3">
      <label for="message" class="form-label">Anliegen / Nachricht</label>
      <textarea class="form-control form-control-lg" id="message" rows="5" placeholder="Anliegen / Nachricht" aria-required="true" tabindex="0"></textarea>

      <span role="alert" id="messageError" aria-hidden="true" style="color: red; display: none;">
              Please Enter your message.
              </span>
    </div>



    <button type="submit" class="btn btn-secondary btn-lg" tabindex="0">Senden</button>








  </form>
</fieldset>

  </div>
</main>
</html>
