main {
  background-color: rgb(95, 4, 4);
  color: lightgrey;
}


main {
  display: flex; /* Ensure main is a flex container */
  flex-direction: column; /* Align children in a column */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  height: 100vh; /* Full viewport height */

  padding-top: 60px; /* Platz schaffen für die Navigationsleiste */

}



/* Focus styles for interactive elements */
:focus {
  outline: 2px solid #007bff; /* Blue color for focus indicator */
  outline-offset: 2px;
}


.form-control {
  width: 100%; /* Full width */

}

/* Optional: Adjust container for better spacing */
.container {
  max-width: 1000px;
  width: 100%; /* Make the container take more space */
}

fieldset {
  width: 450%; /* Reduce the margin for the entire form */

}


/* Button styling */
button {
  width: 150px; /* Adjust the width */
  height: 60px; /* Adjust the height */
  font-size: 1.2rem; /* Make text larger */
  padding: 0.5rem; /* Add padding */
}


#emailError {
  display: none;
  font-size: 0.8em;
}

#emailError.visible {
  display: block;
}


#nameError {
  display: none;
  font-size: 0.8em;
}

#nameError.visible {
  display: block;
}


#messageError {
  display: none;
  font-size: 0.8em;
}

#messageError.visible {
  display: block;
}


.is-invalid {
  border-color: #dc3545;
}

.invalid-feedback {
  display: block;
  color: #dc3545;
}







/* Basis-Stil für den gesamten Text */
body {
  font-size: 16px; /* Beispielgröße, kann je nach Design angepasst werden */
}

/* Anwendung der Textabstände */
legend,
label,
input,
textarea,
button,
.error {
  line-height: 1.5; /* 1.5-fache Zeilenhöhe */
  margin-bottom: 32px; /* 2-fache Schriftgröße (16px * 2) */
  letter-spacing: 0.12em; /* 0.12-fache Schriftgröße */
  word-spacing: 0.16em; /* 0.16-fache Schriftgröße */
}

/* Optional: Anpassungen für das Formular */
.form-group {
  margin-bottom: 24px; /* Abstand zwischen den Formularfeldern */
}

.btn {
  margin-top: 16px; /* Abstand über dem Button */
}



