.navbar-nav .nav-link {
  margin-right: 15px;


  min-height: 55px;
  min-width: 55px;


  font-size: 18px;
  padding: 10px 20px;


}


.myactive {
  font-weight: bold;
}

.nav-link:focus {
  outline: 2px solid #007bff;  outline-offset: 2px;
}


