<!--
<nav class="sticky-top navbar navbar-expand-lg navbar-light bg-light" role="navigation" aria-label="Main navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" tabindex="0">Museum</a>
    <div class="navbar-nav me-auto d-flex flex-row">
      <a class="nav-link ms-3" routerLink="" routerLinkActive="myactive" [attr.aria-current]="isActiveRoute('')" tabindex="0">Home</a>
      <a class="nav-link ms-3" routerLink="ausstellungen" routerLinkActive="myactive" [attr.aria-current]="isActiveRoute('ausstellungen')" tabindex="0">Ausstellungen</a>
      <a class="nav-link ms-3" routerLink="kontakt" routerLinkActive="myactive" [attr.aria-current]="isActiveRoute('kontakt')" tabindex="0">Kontakt</a>
    </div>
  </div>
</nav>

-->
<!--
<a [href]="getSkipLink()" class="skip-link">Zum Hauptinhalt springen</a>
-->


<nav class="sticky-top navbar navbar-expand-lg navbar-light bg-light">

  <div class="container-fluid">
    <a class="navbar-brand" href="">Museum</a>

    <div class="navbar-nav me-auto d-flex flex-row">

      <a class="nav-link" routerLink="" routerLinkActive="myactive">Home</a>

      <a class="nav-link" routerLink="ausstellungen" routerLinkActive="myactive">Ausstellungen</a>

      <a class="nav-link" routerLink="kontakt" routerLinkActive="myactive">Kontakt</a>

    </div>
  </div>
</nav>
