<html lang = "deu">
<body>



<main  id="ausstellungen-content" tabindex="-1"  class="d-flex align-items-center min-vh-100" role="main"  >

  <div>


  <div class="container text-center">
    <!-- Descriptive heading for screen readers -->
    <header>
    <h1 tabindex="0">Unsere Ausstellungen</h1>
    </header>


    <!-- First Exhibition -->
    <article aria-labelledby="exhibition1-title">

      <header>
      <h2 id="exhibition1-title" tabindex="0">Ausstellung 1: Landschaften</h2>
      </header>

        <p tabindex="0">
        Die Landschaftsmalerei, eine Gattung der bildenden Kunst, widmet sich der Darstellung von natürlichen Umgebungen wie
        Bergen, Flüssen, Wäldern, Feldern und Küsten. Diese Kunstform hat sich im Laufe der Jahrhunderte stark weiterentwickelt und
        spielt eine bedeutende Rolle in verschiedenen Kunstbewegungen und Kulturen weltweit.
      </p>
<!-- WCAG 1.1.1 non-text Content-->
      <figure>
        <img src="assets/images/Monet_-_Eine_Allee_in_Monets_Garten_in_Giverny,_1902.jpg"
             alt="Ein impressionistisches Gemälde von Monets Garten mit einer blühenden Allee" tabindex="0">
        <figcaption tabindex="0">
          Monet: Eine Allee in Monets Garten in Giverny (1902) zeigt einen blühenden Gartenweg mit impressionistischer Technik,
          die Licht und Farben lebendig einfängt.
        </figcaption>
      </figure>


    </article>

    <!-- Second Exhibition -->
    <article aria-labelledby="exhibition2-title">
      <header>
      <h2 id="exhibition2-title" tabindex="0">Ausstellung 2: Portraits</h2>
      </header>

        <p tabindex="0">
        Porträts in der Malerei sind eine der ältesten und wichtigsten Gattungen der bildenden Kunst. Sie dienen dazu, das Abbild eines Menschen darzustellen,
        aber auch, um dessen Charakter, sozialen Status und oft sogar seine Gedanken und Gefühle einzufangen. Gemäldeportraits sind in der Kunstgeschichte
        von zentraler Bedeutung und haben sich über die Jahrhunderte in Stil, Technik und Zweck stark verändert.
      </p>
    </article>
  </div>
  </div>
</main>


</body>


</html>
