main {
  background-color: rgb(95, 4, 4);
  color: lightgrey;
}


:focus {
  outline: 2px solid #007bff;
  outline-offset: 2px;
}





.navbar-nav .nav-link {
  margin-right: 15px;



  min-height: 44px;

  min-width: 44px;



  font-size: 18px;

  padding: 10px 20px;
}


.myactive {
  font-weight: bold;
}

.nav-link:focus {
  outline: 2px solid #007bff;
  outline-offset: 2px;
}





body {
  font-size: 16px;
}


h1,
h2,
p,
figcaption {
  line-height: 1.5;
  margin-bottom: 32px;
  letter-spacing: 0.12em;
  word-spacing: 0.16em;
}


figure {
  text-align: center;
  margin: 0;
}
