main {
  background-color: rgb(95, 4, 4);
  color: lightgrey;
}

/* Focus styles for interactive elements */
:focus {
  outline: 2px solid #007bff; /* Blue color for focus indicator */
  outline-offset: 2px;
}



/* Basis-Stil für den gesamten Text */
body {
  font-size: 16px; /* Beispielgröße, kann je nach Design angepasst werden */
}

/* Anwendung der Textabstände */
h1,
p,
figcaption {
  line-height: 1.5; /* 1.5-fache Zeilenhöhe */
  margin-bottom: 32px; /* 2-fache Schriftgröße (16px * 2) */
  letter-spacing: 0.12em; /* 0.12-fache Schriftgröße */
  word-spacing: 0.16em; /* 0.16-fache Schriftgröße */
}

/* Optional: Bildstil */
figure {
  text-align: center; /* Zentriert die Bildunterschrift */
  margin: 0; /* Entfernt Standardmargin */
}
