<html lang = "deu">


<body>
<main id="main-content" class="d-flex align-items-center min-vh-100">


  <div class="container text-center">
    <header >
      <h1 tabindex="0" >
      Willkommen
      </h1>
    </header>

    <article>

      <p tabindex="0">Die Galerie Berlin ist eine Kunstgalerie, die sich ganz den Gemälden des Impressionismus verschrieben hat. Sie präsentiert eine beeindruckende Sammlung von Landschaftsbildern und Porträts, die den Zauber dieser Epoche einfangen. Mit ihrer Vielfalt an Kunstwerken lädt die Galerie Besucher ein, in die Welt des Lichts, der Farben und der Emotionen einzutauchen, die den Impressionismus so einzigartig machen.
      </p>
    </article>



    <figure>
      <img src="assets/images/Claude_Monet,_Impression,_soleil_levant.jpg"
           alt="Gemälde von Claude Monet mit dem Titel 'Impression, Sonnenaufgang' zeigt einen orangefarbenen Sonnenaufgang über einem ruhigen Hafen" tabindex="0">
      <figcaption tabindex="0">
        Das Gemälde „Impression, Sonnenaufgang“ von Claude Monet fängt einen zauberhaften Sonnenaufgang über einem ruhigen Hafen ein. Mit lebendigen orange- und Blautönen vermittelt es ein Gefühl von Licht und Atmosphäre, das die impressionistische Technik meisterhaft widerspiegelt.
      </figcaption>
    </figure>


  </div>

</main>
</body>
</html>



